body{
    background-color: #fff;
}
ul.horizontal{
    margin:0;
    padding:0;
}
ul.horizontal li{
    display:block;
    float:right;
    padding:15px 10px;
    font-style: normal;
    font-size:small;
    font-family: arial,sans-serif;
}
ul.horizontal li a img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
body div.logo header{
    padding-top: 57px;
    padding-left: 55px;
}
.buscar input{
    margin-top: 20px;
    padding: 10px 170px;
    font-size: 20px;
    font-family: arial,sans-serif;
    border: 1px solid silver;
    border-radius: 50px;
}
#boton1{
    border: 0px solid rgb(230, 221, 221);
    background-color: rgb(247, 247, 247);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(68, 68, 68);
    border-radius: 5px;
    margin-top: 30px;
    margin-right: 5px;
    height: 38px;
    width: 150px;
}
#boton2{
    border: 0px solid rgb(230, 221, 221);
    background-color: rgb(247, 247, 247);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(68, 68, 68);
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 5px;
    height: 40px;
    width: 160px;
}
#boton3{
    border: 0px solid rgb(230, 221, 221);
    background-color: #fff;
    font-family:helvetica;
    font-size: 14px;
    color: rgb(70, 70, 70);
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 5px;
    height: 40px;
    width: 190px;
}
.idioma1{
    padding-right: 10px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.idioma2{
    padding-right: 10px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}